/HCF.class
/LCM.class
/Permutation.class
/Quadrants_which_given_coordinate_lies.class
/add_2_fraction.class
/amstrong.class
/automorphic.class
/binary_to_octal.class
/binarytodecimal.class
/calculate_num_of_digit.class
/convert_digit_number.class
/decimal_to_octal.class
/decimaltobinary.class
/evenorodd.class
/factor.class
/factorial.class
/fibonacci.class
/greatest_three_num.class
/harshadNumber.class
/largest_element_array_recurion.class
/leapyear.class
/length_of_string.class
/linkedlist$Node.class
/linkedlist.class
/maximum_handshake.class
/number_which_has_exactly_X_dividor.class
/octal_to_binary.class
/octaltodecimal.class
/palindrome.class
/perfectnum.class
/perfectsquare.class
/power_of_num_recursion.class
/powerofnum.class
/prepinsta.class
/primeNum.class
/prime_num1_to100.class
/prime_recursion.class
/primefactor.class
/rangeAmstrong.class
/replace_0_to_1.class
/reverse.class
/roots_of_quadratic.class
/smallest_num_of_array.class
/strong.class
/sum_natural_num.class
/sum_of_two_prime_num.class
/sumofdigit.class
/linkedlistpractice.class
/linkedlistpractice$Nodes.class
